@mixin container(){
	width: 1100px;
	margin:0 auto;
}
@mixin after(){
	&::after {
		content: "";
		display: block;
		clear: both;
	}
}

.wayWrap {
	@include container();
	padding:90px 200px 0 200px;
	height: 1350px;
	box-sizing: border-box;
	.imgWrap {
		img {
			width: 100%;
		}
		padding-bottom: 25px;
		border-bottom: 3px solid #4f7dd4;
	}
	.mapInfo {
		@include after();
		border-bottom: 1px solid #d3d3d3;
		& > div {
			float:left;
			height: 130px;
			&.left {
				width: 430px;
				ul {
					margin-top: 40px;
					li {
						margin-bottom: 10px;
						&:nth-child(2) {
							margin-bottom: 0;
						}
						@include after();
						div {
							float:left;
							color: #737373;
							font-weight: bold;
							&:nth-child(1) {
								width: 100px;
								font-weight: bold;
								color: #3aa2c5;
							}
						}
					}
				}
			}
			&.right {
				width: calc(100% - 430px);
				position: relative;
				a {
					position: absolute;
					top:50%;
					transform: translateY(-50%);
					right:0;
				}
				&::after {
					position: absolute;
					bottom:0;
					left:0;
					width: 1px;
					height: 23px;
					background-color: #d3d3d3;
					display: inline-block;
					content: "";
				}
			}
		}
	}
}
